experiments/topic_discovery/smh/reuters/vocabulary_size/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters20000_top10.k400.coh;20000
experiments/topic_discovery/smh/reuters/vocabulary_size/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters40000_top10.k400.coh;40000
experiments/topic_discovery/smh/reuters/vocabulary_size/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters60000_top10.k400.coh;60000
experiments/topic_discovery/smh/reuters/vocabulary_size/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters80000_top10.k400.coh;80000
experiments/topic_discovery/smh/reuters/cooccurrence_threshold/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters100000_top10.k400.coh;100000