experiments/topic_discovery/smh/20newsgroups/topK/smh_r2_l432_w0.04_s3_o0.9_m520newsgroups20000.tf_top10.k200.coh;SMH (top 200)
experiments/topic_discovery/smh/20newsgroups/topK/smh_r2_l432_w0.04_s3_o0.9_m520newsgroups20000.tf_top10.k400.coh;SMH (top 400)
experiments/topic_discovery/smh/20newsgroups/topK/smh_r2_l432_w0.04_s3_o0.9_m520newsgroups20000.tf_top10.k600.coh;SMH (top 600)
experiments/topic_discovery/lda/20newsgroups/lda200_20newsgroups20000_top10.coh;Online LDA 200
experiments/topic_discovery/lda/20newsgroups/lda400_20newsgroups20000_top10.coh;Online LDA 400
experiments/topic_discovery/lda/20newsgroups/lda600_20newsgroups20000_top10.coh;Online LDA 600
experiments/topic_discovery/smh/reuters/cooccurrence_threshold/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters100000_top10.k200.coh;SMH (top 200)
experiments/topic_discovery/smh/reuters/cooccurrence_threshold/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters100000_top10.k400.coh;SMH (top 400)
experiments/topic_discovery/smh/reuters/cooccurrence_threshold/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters100000_top10.k600.coh;SMH (top 600)
experiments/topic_discovery/lda/reuters/lda200_reuters100000_top10.coh;Online LDA 200
experiments/topic_discovery/lda/reuters/lda400_reuters100000_top10.coh;Online LDA 400
experiments/topic_discovery/lda/reuters/lda600_reuters100000_top10.coh;Online LDA 600