experiments/topic_discovery/smh/reuters/tuple_size/smh_r2_l47_w0.12_s3_o0.9_m5reuters100000_full.topics;2
experiments/topic_discovery/smh/reuters/tuple_size/smh_r3_l400_w0.12_s3_o0.9_m5reuters100000_full.topics;3
experiments/topic_discovery/smh/reuters/tuple_size/smh_r4_l3342_w0.12_s3_o0.9_m5reuters100000_full.topics;4