experiments/topic_discovery/smh/reuters/vocabulary_size/smh_r2_l1732_w0.02_s3_o0.9_m5reuters20000_full.topics;20000
experiments/topic_discovery/smh/reuters/vocabulary_size/smh_r2_l1732_w0.02_s3_o0.9_m5reuters40000_full.topics;40000
experiments/topic_discovery/smh/reuters/vocabulary_size/smh_r2_l1732_w0.02_s3_o0.9_m5reuters60000_full.topics;60000
experiments/topic_discovery/smh/reuters/vocabulary_size/smh_r2_l1732_w0.02_s3_o0.9_m5reuters80000_full.topics;80000
experiments/topic_discovery/smh/reuters/vocabulary_size/smh_r2_l1732_w0.02_s3_o0.9_m5reuters100000_full.topics;100000