experiments/topic_discovery/smh/reuters/weighting/binary/smh_r2_l1732_w0.02_s3_o0.9_m5reuters100000_full.topics;binary
experiments/topic_discovery/smh/reuters/weighting/tf/smh_r2_l1732_w0.02_s3_o0.9_m5reuters100000_full.topics;tf
experiments/topic_discovery/smh/reuters/weighting/tf-ids/smh_r2_l1732_w0.02_s3_o0.9_m5reuters100000_full.topics;tf-idf
