experiments/topic_discovery/smh/reuters/tuple_size/topK/smh_r2_l47_w0.12_s3_o0.9_m5reuters100000_top10.k400.coh;2
experiments/topic_discovery/smh/reuters/tuple_size/topK/smh_r3_l400_w0.12_s3_o0.9_m5reuters100000_top10.k400.coh;3
experiments/topic_discovery/smh/reuters/tuple_size/topK/smh_r4_l3342_w0.12_s3_o0.9_m5reuters100000_top10.k400.coh;4