experiments/topic_discovery/smh/reuters/cooccurrence_threshold/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters100000_top10.k200.coh;SMH (top 200)
experiments/topic_discovery/smh/reuters/cooccurrence_threshold/topK/smh_r2_l432_w0.04_s3_o0.9_m5reuters100000_top10.k400.coh;SMH (top 400)
experiments/topic_discovery/lda/lda200_reuters100000_top10.coh;Online LDA 200
experiments/topic_discovery/lda/lda400_reuters100000_top10.coh;Online LDA 400