experiments/topic_discovery/smh/reuters/overlap/smh_r2_l432_w0.04_s3_o0.5_m5reuters100000_top10.coh;0.5
experiments/topic_discovery/smh/reuters/overlap/smh_r2_l432_w0.04_s3_o0.7_m5reuters100000_top10.coh;0.7
experiments/topic_discovery/smh/reuters/overlap/smh_r2_l432_w0.04_s3_o0.9_m5reuters100000_top10.coh;0.9