experiments/topic_discovery/smh/reuters/tuple_size/smh_r2_l107_w0.08_s3_o0.9_m5reuters100000_top10.coh;2
experiments/topic_discovery/smh/reuters/tuple_size/smh_r3_l1353_w0.08_s3_o0.9_m5reuters100000_top10.coh;3
experiments/topic_discovery/smh/reuters/tuple_size/smh_r4_l16922_w0.08_s3_o0.9_m5reuters100000_top10.coh;4